<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestCrossBrowser" verbose="1" >

    <test name="AuthorizationTestFirefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="SeleniumTest.BaseTest"/>
        </classes>
    </test>

    <!--<test name="AuthorizationTestChrome">-->
        <!--<parameter name="browser" value="chrome"/>-->
        <!--<classes>-->
            <!--<class name="SeleniumTest.BaseTest"/>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="AuthorizationTestOpera">-->
        <!--<parameter name="browser" value="opera"/>-->
        <!--<classes>-->
            <!--<class name="SeleniumTest.BaseTest"/>-->
        <!--</classes>-->
    <!--</test>-->

</suite>

